<!DOCTYPE html>
<html>
<head>
  <title>McWirelessBot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>€

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="/assets/zepto.js"></script>

</body>
</html>
