

	.east{
		
		margin-top: 400px auto;
		margin-right: 5px;

		border: 3px solid black;
		width: 64px;
		height: 64px;
		border-radius: 10px;
		background-color: red;
		color:black;
	}


	.west{

		
		margin-top: 400px auto;
		margin-left: 5px;
	
		border: 3px solid black;
		width: 64px;
		height: 64px;
		border-radius: 10px;
		background-color: red;
		color:black;
	}

	.south{
		
		margin-bottom: 5px;
		margin-right: 128px auto;

		border: 3px solid black;
		width: 64px;
		height: 64px;
		border-radius: 10px;
		background-color: red;
		color:black;
	
	}

	.north{
		
		margin-top: 384px;
		margin-right: 64px;

		border: 3px solid black;
		width: 64px;
		height: 64px;
		border-radius: 10px;
		background-color: red;
		color:black;
	
	}


	.strafeLeft{
		margin: 5px auto auto 5px;
		
		border: 3px solid black;
		width: 64px;
		height: 64px;
		border-radius: 10px;
		background-color: red;
		color:black;

	}

	.strafeRight{
		margin: 5px 5px auto auto;

		border: 3px solid black;
		width: 64px;
		height: 64px;
		border-radius: 10px;
		background-color: red;
		color:black;
	}


background{
	color: yellow;
}