<div class="left-turn">Left</div>
<div class="stop">Stop</div>
<div class="right-turn">Right</div>


<div class="north">Button</div>

<div class="east">Button</div>

<div class="south">Button</div>

<div class="west">Button</div>