<body>

	<h1> MCHAMMER-BOT</h1>

	<div class="gamePad">
		<div class="north">➤</div>

		<div class="west">➤</div>
		
		<div class="east">➤</div>		

		<div class="south">➤</div>

		<div class="strafeLeft">⇶</div>

		<div class="strafeRight">⇶</div>
	</div>

</body>